<table class="table">
  <thead>
    <tr>
      <th scope="col">用户名</th>
      <th scope="col">解除时间</th>
      <th scope="col">动作</th>
    </tr>
  </thead>
  <tbody>
    <%= render @punishments %>
  </tbody>
</table>
<%= link_to '封禁用户', new_admin_punishment_path, class: 'btn btn-info'%>
