<div class="container">
  <% if @articles.length > 0 %>
    <h4 class="rounded border-dark px-4 py-3 bg-dark text-white ">
      拥有<%= params[:tag]%> Tag的文章
    </h4>
    <%= render  partial: 'search/article_tags/article', collection: @articles %>
    <%= will_paginate @articles, previous_label: '<<', next_label: '>>', class: 'digg_pagination' %>
  <% else %>
    <div class="border p-3">
      不存在拥有<%= params[:tag]%> Tag的文章
    </div>
  <% end %>
</div>
