<div class="row">
  <%= render 'notify/shared/side_nav' %>
  <div class="col-6">
    <%= render partial: "activity", collection: @activities %>
    <%= will_paginate @activities, previous_label: '<<', next_label: '>>', class: 'digg_pagination' %>
  </div>
</div>
