<div class="col-2 offset-2">
  <div class="list-group">
    <%= link_to '动态', notify_activities_path, class: "list-group-item list-group-item-action" %>
    <%= link_to '评论', notify_comments_path, class: "list-group-item list-group-item-action" %>
    <%= link_to '回复', notify_replies_path, class: "list-group-item list-group-item-action" %>
    <%= link_to '@我', '#', class: "list-group-item list-group-item-action" %>
  </div>
</div>
