<div class="row">
  <%= render 'notify/shared/side_nav' %>
  <% if @articles.any? %>
    <div class="col-6">
      <%= render partial: "article", collection: @articles %>
      <%= will_paginate @articles, previous_label: '<<', next_label: '>>', class: 'digg_pagination' %>
    </div>
  <% else %>
    <%= render 'notify/shared/no_notify' %>
  <% end %>
</div>
