<div class="d-flex bg-dark mb-2">
  <%= link_to '封禁用户一览', admin_punishments_path, class: 'btn btn-dark col' %>
  <%= link_to '封禁用户', new_admin_punishment_path, class: 'btn btn-dark col' %>
  <%= link_to '未处理举报一览', admin_reports_path, class: 'btn btn-dark col' %>
  <%= link_to '用户举报统计', admin_users_path, class: 'btn btn-dark col' %>
</div>
